.main {
    height: 600px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
   
}


.image{

    flex-shrink: 1;
}
.image:first-child{
    flex-shrink:2 ;



}