.container {
    display: flex;
    background: aquamarine;
    padding: 10px;
    min-height: 350px;
    margin: 10px;
    flex-direction: row-reverse;
}

.item {
    background: blanchedalmond;
    margin: 10px;
    min-height: 90px;
}

.header {
    text-align: center;
    background-color: lightcoral;

  
}