@font-face {
    font-family: "Channel";
    src: url("../FONTS/channel-webfont.ttf")
}

* {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}

body {
    background-color: crimson;
}

header {
    position: fixed; 
    font-size: 2rem;
    width: 100vw;
    height: 8vh;
    background-color: rgb(0, 0, 0);
    border-bottom: 0.2rem solid cornsilk;
    display: flex;
    flex-direction: row;
    font-family: "Channel";
}


#logo-div {
    width: 20vw;
}

#logo-img {
    position: relative;
    top: 3.7rem;
    left: 10vh;
}

nav {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
   
}

#menu-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2rem;
    
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
  
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 0;
    color: cornsilk;
}

.sub-menu {
    display: none;
}


img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    overflow: hidden;
    }
h1{
background-color: gold;
height: 6%;
width: 96%;
position: relative;
left: 2%;
text-align: center;


}

main{
margin: 0 15%;
z-index: 1;
position: absolute;
top: 8vw;
min-height: 100vh;
width: 70%;

}

#carousel-section{

background-color: deeppink;
width: 100%;
height: 60vh;

}
.frame{
background-color: rgb(13, 230, 49);
height: 90%;


}

.carousel{

    background-color: rgb(230, 227, 239);
    height: 94%;
    width: 96%;
    position: relative;
    top: 5%;
    left: 2%;
}
.element>img{
width: 100%;
height: 100%;


}
.changehidden, .content,.element{

    height: 100%;
    width: 100%;
}

@keyframes slidy{


0%{left: 0%;}
20%{left: 0%;}
25%{left: -100%;}


}

.carousel {
    display: flex;
    overflow-y: scroll;
    
    padding: 1rem 0;
}
.carousel{
    margin-left: 1rem;
}



