*{

    box-sizing: border-box;
}

body{

    background-color: #BBCCFF;
    order: 2;
   
                          
}


.grid{
    display: grid;
    border: 1px solid red;
    gap: 10px;
   
    grid-template-columns:1fr  4fr;
    grid-template-rows:1fr 10fr 1fr ;
 
    
}

header{
order: 1;
background-color: yellowgreen;

}






footer{
 border: 1px solid black;
background-color: tomato;


}  
.main{

    background-color: white;
 row-gap: 10px;
}

section{

    padding:10px;

}
h1{
    background-color: violet;
    grid-area: GRID 1 ;
}
nav{
    order: 1;
    background-color: thistle;
}

h3{

    background-color: teal;
}
aside{
    background-color: violet;
}
.foot{
 order: 5;
    background-color: yellow;
}
