





    header{

        background-color:rgb(221, 87, 87);
        padding: 10px;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }
    

    .container{


    background: rgb(197, 194, 194);
    padding: 20px;
    margin :20px;

}


   
    
