/* Declaration du Grid */
.container {
    display: grid;
    grid-template: 100px 300px / 250px 400px;
  }
  
  /* les emplacements */
  nav {
    grid-row: 1;
    grid-column: 1;
  }
  section {
    grid-row: 1;
    grid-column: 2;
  }
  article {
    grid-row: 2;
    grid-column: 1;
  }
  aside {
    grid-row: 2;
    grid-column: 2;
  }
  
  
  /* Mise en forme */
  
  * {box-sizing: border-box}
  body {
      margin: 20px;
      background: #fff;
      font-family: "Century Gothic", helvetica, arial, sans-serif;
      font-size: 1.2em;
  }
  .container {
      background: beige;
      border: 3px dotted orange;
      margin-bottom: 2em;
  }
  div, nav, section, article, aside {
      padding: 10px;
      color: #fff;
  }
  nav {
      background: dodgerblue;
  }
  section {
      background: hotpink;
  }
  article {
    background: olivedrab;
  }
  aside {
    background: orange;
  }
  div:nth-of-type(3) {
      background: olivedrab;
  }
  div:nth-of-type(4) {
      background: hotpink;
  }
  div:nth-of-type(5) {
      background: slategray;
  }
  
  h1 {
      margin: 0 0 1em;
      color: #345;
      text-align: center;
    font-family: georgia, "trebuchet ms", arial, serif;
  }